.ctxt1-1 {
  width: 40%;
  text-align: center;
  opacity: 1;
  font-size: 36px;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 1s all ease-out;
  .la-btn {
    padding: 16px 20px;
  }
}

#ctxt1-2 {
  font-weight: 700;
}

#launch-btn {
  margin-top: 40px;
}

@media only screen and (max-width: 1200px) {
  .ctxt1-1 {
    width: 40%;
    font-size: 24px;
  }
}

@media only screen and (max-width: 500px) {
  .ctxt1-1 {
    width: 80%;
    font-size: 20px;
  }
}

// vbox  box
.versionboxmainouter {
  overflow-x: hidden;
}
.versionboxouter {
  display: flex;
  transition: all 0.6s ease-in;
  position: relative;
  left: 0;
}
.vbox {
  margin: 20px 20px 20px 0px;
  background-color: rgba(8, 15, 14, 0.69);
  border-radius: 10px;
  min-width: 500px;
  opacity: 0.6;
  transition: all 0.2s ease-in;
  .header {
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    border-bottom: 2px solid #21342e;
    padding: 20px;
    box-sizing: border-box;
    .date {
      font-weight: 300;
      color: rgba(193, 255, 213, 1);
      margin: 0px 12px;
    }
  }
  .content {
    font-size: 14px;
    padding: 0 20px 40px;
    span {
      background-color: rgba(117, 240, 157, 0.1);
      color: rgba(117, 240, 157, 1);
      padding: 4px 6px;
      font-size: 14px;
      border-radius: 6px;
      margin-right: 8px;
    }
    div {
      margin: 20px 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  #vbox2 {
    display: none;
  }

  #vbox1 {
    width: 100% !important;
  }
}

// version box
#versionbox {
  position: relative;
  width: 75%;
  top: 60%;
  max-width: 1200px;
  margin: auto;
}

#vh {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: inline-block;
}
.left-right {
  border: 2px solid rgba(117, 240, 157, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    border: none;
    background: transparent;
    width: 40px;
    height: 35px;
    cursor: pointer;
  }
  img {
    margin: 0 7px;
  }
  #lf-r {
    border-left: 1px solid rgba(117, 240, 157, 0.1);
  }
  #lf-l {
    border-right: 1px solid rgba(117, 240, 157, 0.1);
  }
}

#vh-parent {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.lf > img {
  padding: 5px 2px;
}

// #lf-l {
//   border-radius: 5px 0px 0px 5px;
// }

// #lf-r {
//   border-radius: 0px 5px 5px 0px;
//   background: linear-gradient(to right, transparent, rgba(117, 240, 157, 0.2));
// }

@media only screen and (max-width: 800px) {
  #left-right {
    left: 72%;
  }

  #vbox2 {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #versionbox {
    .vbox {
      min-width: 100%;
    }
  }
}
@media only screen and (max-width: 500px) {
  #versionbox {
    top: 50%;
  }
}
